<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" strict="true" name="LogConfig"
	monitorInterval="60">
	<Properties>
		<Property name="logDir" value="D:\logs\payroll-service" />
		<Property name="logFilename" value="payroll-service" />
		<Property name="logFilenameExtension" value=".log" />
	</Properties>
	<Appenders>
		<Appender type="RollingFile" name="RollingFile"
			fileName="${logDir}\${logFilename}${logFilenameExtension}"
			filePattern="${logDir}\${logFilename}-%d{yyyy.MM.dd}-%i${logFilenameExtension}">
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="200000" />
			<Layout type="PatternLayout"
				pattern="%d{HH:mm:ss.SSS} %-5p - [%c{1}] : %m%n" />
		</Appender>

		<Appender type="Console" name="Console" target="SYSTEM_OUT">
			<Layout type="PatternLayout"
				pattern="%d{HH:mm:ss.SSS} %-5p - [%c{1}] : %m%n" />
		</Appender>
	</Appenders>

	<Loggers>
		<Logger name="com.ps" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>

		<Logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>

		<!--Root level="debug"> <AppenderRef ref="RollingFile"/> </Root -->
	</Loggers>
</Configuration> 
